.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9fafb;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.25rem;
    color: #666;
}